*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center{
    max-width: 75%;
    margin: auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: white;
    padding: 1.5% 0;
    border-bottom: 1px solid #e7e7e7bb;
}
.logo {
    color: #1e5783;
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
}
.logo-orange {
    color: #e09523;
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
}
.menu{
    width: 80%;
    text-align: right;
}
.menu a{
    margin-right: 4%;
    color:#1e5783;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    transition: 0.4s;
}
.menu a:hover{
    color:#ffb038;
}
.menu .btn-menu {
    background-color: #07a;
    display: inline-block;
    padding: 9px 15px;
    border-radius: 5px;
    color: white;  
}
.menu .btn-menu:hover {
    color: white;
    background-color: #e69a29;
}

body{background-color: #e5ebf12f;}

form{padding-top: 5%;}

table{
    text-align: center;
    width: 72%;
    margin-left: 13%;
    margin-right: 7%;
    border-collapse: collapse;
    -webkit-box-shadow: 6x 6x 6px #2d5b8657; 
	-moz-box-shadow: 6px 6px 6px  #2d5b8657;
	box-shadow: 6px 6px 6px #2d5b8657;	
}
table th{
    background-color: #458cc227;
    font-size: 15px;
    color: #144468;
    padding: 12px 15px;
    border: solid 1px #ccc;
}
table td{
    color: #144468;
    font-size: 14px;
    padding: 12px 15px;
    border: solid 1px #ccc;
}
button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
    width: 95px;
}
button.cancel{
    width: 13%;
    background-color: #df972b;
    color: white;
}
button.delete{
    background-color: #df972b;
}
button.save{
    width: 13%;
    margin-left: 35%;
    background-color: #07a;
}
button.add{
    width: 18%;
    font-size: 15px;
    margin-left: 40%;
    margin-top: 3%;
}
button:hover{
    opacity: 0.8;
}
input{
    margin-right: 18%;
    width: 41%;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}
input:focus {
    box-shadow: 0 0 0 0;
    border-color:  #ccc;
    outline: 0;
}
.label{
    font-size: 16px;
    color: #144468;
    margin-left: 35%;
}
.search2{
    width: 50%;
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 1%;
    color: #265c867c;
    border-radius: 3px;
    margin-left: 13%;
    margin-right: 15%;
    border-color: #ccc;
}
.search2:focus {
    box-shadow: 0 0 0 0;
    border-color:  #ccc;
    outline: 0;
}
::-webkit-input-placeholder {
    color: #9b9b9bea;
}